{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    Agenda
{% endblock %}
{% block body %}
    <div class="left-holes"></div>
    <h1>Agenda</h1>
    {% if dates %}
        {% for formatted_date, date_data in dates %}
            <div class="agenda-date">
                {{ formatted_date }}
                {% for task in date_data.tasks %}
                    <div class="card card--agenda">
                        {% include 'core/components/cards/task.html' with task=task %}
                    </div>
                {% endfor %}
                <div class="card card--agenda">
                    <a href="{% url 'core:create_task' %}?{{ date_data.create_task_query }}">
                        Create task +
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No tasks yet.</p>
    {% endif %}
{% endblock %}
