{% extends 'core/base.html' %}
{% block title %}
    Login
{% endblock %}
{% block navigation_bar %}
    {% include 'core/components/navigation-bars/splash.html' %}
{% endblock %}
{% block body %}
    <h1>Login</h1>
    <form action="{% url 'core:login_submit' %}" method="post">
        {% csrf_token %}
        {{ form.username.label_tag }}<br/>
        {{ form.username }}<br/>
        {{ form.password.label_tag }}<br/>
        {{ form.password }}<br/>
        {{ form.non_field_errors }}<br/>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'core:register' %}">Register here</a>.</p>
{% endblock %}
