{% extends 'core/base.html' %}
{% block title %}
    {{ project.name }}
{% endblock %}

{% block body %}
    <h1>{{ project.name }}</h1>

    <form method="post" action="{% url 'core:edit_project' project_id=project.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <h1>Subprojects</h1>
    <a href="{% url 'core:create_project' %}?parent_project_id={{ project.id }}">Create subproject</a>
    <ul>
        {% for subproject in subprojects %}
            <li>
                <a href="{% url 'core:project' subproject.id %}">{{ subproject.name }}</a>
            </li>
        {% empty %}
            <p>This project has no subprojects.</p>
        {% endfor %}
    </ul>

    <h1>Tasks</h1>
    <a href="{% url 'core:create_task' %}?project_id={{ project.id }}">Create task</a>
    <ul>
        {% for task in tasks %}
            <li>
                {% include 'core/components/cards/task.html' with task=task %}
            </li>
        {% empty %}
            <p>This project has no tasks.</p>
        {% endfor %}
    </ul>

    <form method="post" action="{% url 'core:delete_project' project.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
{% endblock %}
