{% extends 'core/base.html' %}
{% block title %}
    {{ project.name }}
{% endblock %}

{% block body %}
    <nav>
        {% for link in link_chain %}
            |<a href="{{ link.url }}">{{ link.text }}</a>
        {% endfor %}
    </nav>
    <h1>{{ project.name }}</h1>
    <form method="post" action="{% url 'core:edit_project' project_id=project.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <h1>Child projects</h1>
    <a href="{% url 'core:create_project' %}?parent_project_id={{ project.id }}">Create child project</a>
    <ul>
        {% for child_project in project.child_projects.all %}
            <li>
                <a href="{% url 'core:project' child_project.id %}">{{ child_project.name }}</a>
            </li>
        {% empty %}
            <p>This project has no child projects.</p>
        {% endfor %}
    </ul>

    <h1>Tasks</h1>
    <a href="{% url 'core:create_task' %}?project_id={{ project.id }}">Create task</a>
    <ul>
        {% for task in project.tasks.all %}
            <li>
                {% include 'core/components/cards/task.html' with task=task %}
            </li>
        {% empty %}
            <p>This project has no tasks.</p>
        {% endfor %}
    </ul>

    <form action="{% url 'core:delete_project' project.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this project?')">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
{% endblock %}
