{% extends 'core/base.html' %}
{% block title %}
    {{ task.name }}
{% endblock %}

{% block body %}
    <nav>
        <a href="{% url 'core:project' task.project.id %}">{{ task.project.name }}</a>
        {% for breadcrumb in breadcrumbs %}
            &rsaquo;
            {% if forloop.last %}
                <span>{{ breadcrumb.name }}</span>
            {% else %}
                <a href="{% url 'core:task' breadcrumb.id %}">{{ breadcrumb.name }}</a>
            {% endif %}
        {% endfor %}
    </nav>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn-primary">Save Changes</button>
    </form>
    {% if subtasks %}
        {% for subtask in subtasks %}
            {% include "core/components/cards/task.html" with task=subtask %}
        {% endfor %}
    {% else %}
        <p>No subtasks yet.</p>
    {% endif %}
    <p>
        <a href="{% url 'core:create_task' %}?parent_task={{ task.id }}">Add subtask</a>
    </p>
{% endblock %}
