{% extends 'core/base.html' %}
{% block title %}
    {{ task.name }}
{% endblock %}

{% block body %}
    <nav>
        {% for link in link_chain %}
            |<a href="{{ link.url }}">{{ link.text }}</a>
        {% endfor %}
    </nav>
    <h1>{{ task.name }}</h1>
    <form method="post" action="{% url 'core:edit_task' task.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <h1>Subtasks</h1>
    <a href="{% url 'core:create_task' %}?project_id={{ task.project.id }}&parent_task_id={{ task.id }}">Create subtask</a>
    {% if subtasks %}
        {% for subtask in subtasks %}
            {% include "core/components/cards/task.html" with task=subtask %}
        {% endfor %}
    {% else %}
        <p>No subtasks yet.</p>
    {% endif %}

    <form action="{% url 'core:delete_task' task.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this task?')">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
{% endblock %}
