{% load static %}
<nav class="navigation-bar">
    <div class="navigation-bar-item dropdown-trigger">
        <img class="navigation-bar-item" src="{% static 'core/images/cat.jpg' %}" alt="Helpy logo"/>
        <div class="dropdown">
            <a class="dropdown-item" href="{% url 'core:index' %}">Splash</a>
            <a class="dropdown-item">About</a>
            <a class="dropdown-item">FAQ</a>
        </div>
    </div>
    <div class="navigation-bar-item dropdown-trigger">
        <a href="{{ request.user.user_settings.get_default_board_url }}">Planning</a>
        <div class="dropdown">
            <a class="dropdown-item" href="{% url 'core:agenda' %}">Agenda</a>
        </div>
    </div>
    <div class="navigation-bar-item dropdown-trigger">
        <a href="{% url 'core:projects' %}">Projects</a>
        <div class="dropdown">
            {% for project in request.user.projects.all %}
                {% if not project.parent_project %}
                    <a class="dropdown-item" href="{% url 'core:project' project.id %}">{{ project.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <p class="flex-right">Search bar</p>
    <div class="navigation-bar-item dropdown-trigger">
        <p>User</p>
        <div class="dropdown">
            <a class="dropdown-item">Account</a>
            <a class="dropdown-item">Settings</a>
            <form action="{% url 'core:logout' %}" method="post" onsubmit="return confirm('Are you sure you want to log out?')">
                {% csrf_token %}
                <button class="dropdown-item" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>
