{% extends 'core/navigation_base.html' %}

{%block title %}
    {{ project.name }}
{% endblock %}

{% block body_after_navigation %}
    <form method="post" action="{% url 'core:create_project' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    {% for task in tasks %}
            <li>
                <a href="{% url 'core:task' task.id %}">{{ task.name }}</a>
            </li>
        {% empty %}
            <li>This project has no tasks.</li>
        {% endfor %}
{% endblock %}
