{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/components.css' %}">
        <title>
            {% block title %}
                Helpy
            {% endblock %}
        </title>
    </head>
    <body>
        <div class="spaced exterior-box">
            <div class="spaced status-bar interior-box">
                <a>Helpy</a>
                <a>20/10/2004 10:00AM</a>
                <a><<< Loading >>> USER</a>
            </div>
            <div class="spaced exterior-box">
                <fieldset class="spaced interior-box navbar">
                    <legend>Boards</legend>
                    <a href="{% url 'core:projects'%}">Project</a>
                    <a href="{% url 'core:agenda'%}">Agenda</a>
                    <a>Calendar</a>
                    <a>Kanban</a>
                </fieldset>
                <div class="spaced interior-box">
                    {% block body %}
                        No body.
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
