{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <title>
        {% block title %}
            Helpy
        {% endblock %}
    </title>
</head>
<body>
    {% block navigation_bar %}
        {% include 'core/components/navigation-bars/app.html' %}
    {% endblock %}
    {% block body %}
        No body.
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>
</html>
