{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type ="text/css" href ="{% static 'core/css/style.css' %}">
    <title>
        {% block title %}
            Helpy
        {% endblock %}
    </title>
</head>
<body>
    {% block navigation_bar %}
        <div class="navigation-bar">
            <a href="{% url 'core:agenda' %}">Agenda</a>
            <a href="{% url 'core:calendar' %}">Calendar</a>
            <a href="{% url 'core:kanban' %}">Kanban</a>
            <a href="{% url 'core:projects' %}">Projects</a>
            <a href="{% url 'core:logout' %}" style="margin-left: auto">Logout</a>
            <a href="{% url 'core:settings' %}">Settings</a>
        </div>
    {% endblock %}
    {% block body %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>
</html>
