{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Welcome to Helpy
{% endblock %}

 <!-- Overwrite the main navigation bar to show the splash page's unique navigation bar. -->
{% block navigation_bar %}
{% endblock %}

{% block body %}
    {% block navigation %}
        <div class="navigation-bar">
            <img src="{% static 'core/images/testcat.jpeg' %}" alt="Helpy logo" height="85">
            <a href="{% url 'core:login' %}" style="margin-left: auto">Login</a>
            <a href="{% url 'core:register' %}">Register</a>
        </div>
    {% endblock %}

    {% block body_after_navigation %}
        <div id="welcome">
            <h1 style="text-align: center;">Welcome to Helpy</h1>
            <p style="text-align: center;">Helpy is a personal productivity tool that helps you manage your tasks, projects, and schedule in one place.</p>
            <p style="text-align: center;">Get started by creating an account or logging in to your existing account.</p>
        </div>
    {% endblock %}
{% endblock %}