{% extends 'core/base.html' %}

{% block body %}
    {% block navigation %}
            <div id="nav_bar">
                <a class="left"  href="{% url 'core:agenda' %}">agenda</a>
                <a class="left" href="{% url 'core:calendar' %}">calendar</a>
                <a class="left" href="{% url 'core:kanban' %}">kanban</button>
                <a class="left" href="{% url 'core:project' %}">project</a>

                <a class="right">account</a>
            </div>
    {% endblock%}

    {% block body_after_navigation %}
    {% endblock %}
{% endblock %}
