{% extends 'core/base.html' %}

{% block body %}
    {% block navigation %}
            <div id="nav_bar">
                <a class="left"  href="{% url 'core:agenda' %}">Agenda</a>
                <a class="left" href="{% url 'core:calendar' %}">Calendar</a>
                <a class="left" href="{% url 'core:kanban' %}">Kanban</a>
                <a class="left" href="{% url 'core:projects' %}">Projects</a>
                <a class="right" href="{% url 'core:account' %}">Settings</a>
            </div>
    {% endblock %}

    {% block body_after_navigation %}
    {% endblock %}
{% endblock %}
