{% extends 'core/base.html' %}

{% block body %}
    {% block navigation %}
            <div id="nav_bar">
                <button class="left">nav button</button>
                <button class="left">nav button</button>
                <button class="left">nav button</button>

                <button class="right">nav button</button>
                <button class="right">nav button</button>
            </div>
    {% endblock%}

    {% block body_after_navigation %}
    {% endblock %}
{% endblock %}
