{% extends 'core/navigation_base.html' %}

{% block title %}
    Settings
{% endblock %}

{% block body_after_navigation %}
    <h1>Account settings</h1>

    <h2>Account</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="email">

        <label>Email:</label>
        {{ email_form.email }}
        {{ email_form.email.errors }}

        <button type="submit">Save</button>
    </form>
    
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="username">

        <label>Username:</label>
        {{ username_form.username }}
        {{ username_form.username.errors }}

        <button type="submit">Save</button>
    </form>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="password">

        {{ password_form.non_field_errors }}
        {{ password_form.as_p }}

        <button type="submit">Change Password</button>
    </form>

    <h2>Preferences</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="settings">

        {{ settings_form.as_p }}

        <button type="submit">Save Preferences</button>
    </form>
{% endblock %}
