:root {
    --background: #ffffff;
    --background-hover: #f0f0f0;
    --text: #000000;
    --primary: #fdbe02;
    --primary-hover: #f0b000;
    --primary-surrounded-text: #000000;
    --border: #000000;
    --shadow: #000000;
    --danger: #d32f2f;          
    --danger-hover: #b71c1c;
    --danger-surrounded-text: #ffffff;
    --dropdown: #f0f0f0;
    --dropdown-hover: #e0e0e0;

    --header-height: 70px;
}

[data-theme="dark"] {
    --background: #111111;
    --text: #ffffff;
    --border: #ffffff;
    --shadow: #ffffff;
}

body {
    margin: var(--header-height) 0 0 0;
    padding: 20px;
    background-color: var(--background);
    color: var(--text);
    font-family: sans-serif;
}
