:root {
    --background: #ffffff;
    --background-hover: #f0f0f0;
    --text: #000000;
    --primary: #fdbe02;
    --primary-hover: #f0b000;
    --primary-surrounded-text: #000000;
    --border: #000000;
    --shadow: #000000;
    --danger: #d32f2f;          
    --danger-hover: #b71c1c;
    --danger-surrounded-text: #ffffff;

    --header-height: 70px;
}

[data-theme="dark"] {
    --background: #111111;
    --text: #ffffff;
    --border: #ffffff;
    --shadow: #ffffff;
}

body {
    margin: var(--header-height) 0 0 0;
    padding: 20px;
    background-color: var(--background);
    color: var(--text);
    font-family: sans-serif;
}

.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;  /* Keep this above other elements. */
    width: 100%;
    height: var(--header-height);
    background-color: var(--primary);
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-bar a {
    padding: 16px;
    color: var(--primary-surrounded-text);
    text-decoration: none;
    font-size: 16px;
}

.navigation-bar a:hover {
    background-color: var(--primary-hover);
}

.flex-right {
    margin-left: auto;
}

.agenda-date {
    padding: 15px;
    border-bottom: 1px solid var(--border);
}

.card {
    margin: 15px;
    transition: 0.2s;
}

.card:hover {
    background-color: var(--background-hover);
}

.card a {
    padding: 15px;
    display: block;
    text-decoration: none;
}

.card a:visited {
    color: var(--text);
}

.card--agenda {

}

.card--agenda:hover {
    transform: translateX(2px);

}
