.card {
    padding: 15px;
    transition: 0.2s;
}

.card:hover {
    background-color: var(--background-hover);
}

.card a {
    display: block;
    text-decoration: none;
}

.card a:visited {
    color: var(--text);
}

.card--agenda {

}

.card--agenda:hover {
    transform: translateX(2px);

}
