.status-bar {
    padding: 1ch;
    display: flex;
    justify-content: space-between;
}

.navbar {
    padding: 1ch;
    display: flex;
    justify-content: center;
    gap: 30ch;
}

.card {
    transition: 5s;

    background-color: blue;
}

    .card a {
        padding: 15px;
        display: block;
        text-decoration: none;
    }

        .card a:visited {
            color: var(--text);
        }
