:root {

    --lightest:#dadada;
    --light:#b2b2b2;
    --mid:#707070;
    --dark:#4d4d4d;
    --darkest:#262626;

    font-family: sans-serif;
    --font-colour: white;

}

.navigation-bar {
    --navigation-bar-background-colour: #1A1B25;
    --navigation-bar-background-hover-colour: #282A3B;

    position: sticky;
    top: 0;
    align-items: center;
    color: var(--font-colour);
    background-color: var(--navigation-bar-background-colour);
    display: flex;
}

.navigation-bar a {
    padding: 30px;
    text-decoration: none;
}

.navigation-bar a:hover {
    background-color: var(--navigation-bar-background-hover-colour);
}

.navigation-bar a:visited {
    color: var(--font-colour);  /* Do not change colour if the link has been visited. */
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.credentials-box {
    background-color: var(--light);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.task-card {
    --task-card-background-colour: white;
    --task-card-background-hover-colour: grey;

    padding: 30px;
    background-color: var(--task-card-background-colour);
    display: block;
    text-decoration: none;
}

.task-card:hover {
    background-color: var(--task-card-background-hover-colour);
}

.task-card:visited {
    padding: 30px;
    display: block;
    color: black;  /* Do not change colour if the link has been visited. */
}

.calendar {
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.month-label {
    position: sticky;
    top: 0;
}

.day {
    min-height: 90px;
    border: 1px solid black;
    padding: 6px;
    box-sizing: border-box;
}

/* ================================================================================== */


#calendar{
    background-color: var(--mid);
    padding:5px;
    display: flex;
}

.calendar_day{
    padding:5px;
    margin: 5px;
    background-color: var(--light);
}

.agenda_day{
    
}

#welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Perfect dead-center alignment */
    width: 80%; /* Prevents text from stretching too far horizontally */
}