:root{
    --lightest:#dadada;
    --light:#b2b2b2;
    --mid:#707070;
    --dark:#4d4d4d;
    --darkest:#262626;

}



body{
    background-color: var(--lightest);
}


#calendar{
    background-color: var(--mid);
    padding:5px;
    display: flex;
}

.calendar_day{
    padding:5px;
    margin: 5px;
    background-color: var(--light);
}

.agenda_day{
    
}

a{
    font-size:30px;
    padding: 5px;
    margin: 5px;
    background-color: var(--dark);
    color: var(--lightest);
    text-decoration: none;
}

a:hover{
    background-color: var(--mid);
}

a.left{
    text-align: left;

}

a.right{
    margin-left:auto;
}

#nav_bar{
    display: flex;
    align-items:center;
}

#welcome_nav_bar {
    position: absolute;
    top: 0;
    left: 0;                
    width: 100%;            
    box-sizing: border-box;   
    background-color: var(--darkest); 
    display: flex;
    justify-content: flex-end;
    gap: 15px; 
    padding: 10px 25px;
}

#welcome_nav_bar a {
    text-decoration: none;
    padding: 3px 7px;
    background-color: #555;   
    color: white;
}

#welcome_nav_bar a:hover {
    background-color: #333;
}

#welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Perfect dead-center alignment */
    width: 80%; /* Prevents text from stretching too far horizontally */
}