{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    Agenda
{% endblock %}
{% block body %}
    <h1>Agenda</h1>
    <a href="{% url 'core:create_task' %}">Add task</a>
    {% if days_with_tasks %}
        <ul>
            {% for day, day_data in days_with_tasks %}
                <li>
                    {{ day }}<br/>
                    {% for task in day_data.tasks %}
                        {% include 'core/task/task-card.html' with task=task %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tasks yet.</p>
    {% endif %}
{% endblock %}
